.main {
  position: fixed;
  height: 50px;
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: 0%;
}

.nav {
  position: absolute;
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: 0%;

  display: flex;
  align-items: center;
  justify-content: center;

  background: #F1F2F6;
}

.nav-line {
  position: absolute;
  left: 0%;
  right: 0%;
  top: 93.75%;
  bottom: 0%;

  background: linear-gradient(90deg, #E44218 8.3%, #DA391C 9.5%, #C02028 13.2%, #AD0E31 17%, #A10337 20.9%, #9E0039 25%, #25287A 41.7%, #0077C0 58.3%, #ACC022 75%, #FFAB08 91.7%);
}